/* 	=====Stylesheet Order=====
	
	1. House Style
	2. Global Styles 
	3. Navbar
	4. Sidenav
	5. Jumbotron
	6. Form Cards
	7. Text Divs
	8. Footer
	9. Media Queries
*/
/*	=====House Style=====
-Add 'border-radius-' selectors maybe 2 of them like 10px and 15px or something
*/
.temp-symbol, .jumbotron h1, .card-body p {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase; }

.jumbotron h2, .card h2, .text-div h2, #footerDiv h2 {
  font-family: 'Raleway', sans-serif; }

div {
  font-family: 'Raleway', sans-serif; }

div {
  font-size: 18px;
  line-height: 1.7; }

* {
  box-sizing: border-box; }

/* 	=====Navbar===== 
-Change color of the toggler icon and <hr> line break so they appear
*/
.navbar {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 2; }

.navbar a {
  color: #343a40; }

.navbar a:hover {
  color: #343a40; }

.nav-item a:hover {
  background-color: #e1d8ca;
  border-radius: 5px; }

.nav-hide {
  display: none; }

/* 	=====Sidenav=====
-Fit to small screens - @media (max-width: 767.98px) {} and mobile screens - @media (max-width: 575.98px) {}
*/
.sidenav {
  height: 100%;
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
  background-color: #fff;
  padding-top: 80px;
  text-align: center;
  overflow-x: hidden;
  z-index: 1;
  transition: 0.5s; }

.sidenav li {
  list-style-type: none;
  padding: 5px;
  margin-right: 40px;
  transition: 0.5s;
  margin-bottom: 5px; }

.sidenav li:hover {
  background-color: #e1d8ca;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1.05); }

.sidenav-button-active {
  background-color: #e1d8ca;
  border-radius: 5px; }

.sidenav-active {
  background-color: #fff;
  width: 270px; }

.temp-symbol {
  font-weight: bold;
  font-size: 50px; }

.page-wrapper {
  margin-left: 200px;
  transition: 0.5s; }

/*    =====Jumbotron===== 
-Find a suitable image
*/
#backgroundDiv {
  background-color: #e1d8ca;
  padding-bottom: 50px;
  background-image: url("../img/temperature-background.jpg"); }

.jumbotron h1 {
  color: #343a40;
  font-size: 91.134px; }

.jumbotron h2 {
  margin-top: 25px; }

/*	=====Form Cards=====
-Form inspo - https://codemyui.com/login-form-visual-cues-invalid-input/ form
*/
.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 20px;
  width: 450px;
  transition: 0.5s; }

.card:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1.05); }

.card-body p {
  font-size: 40.5px;
  font-weight: bold; }

.form-sub button:hover {
  cursor: pointer; }

#cardFooter {
  background-color: #fff; }

#gasMarkCard, #fahrenheitCard {
  border-radius: 5px; }

#celsiusCard, #kelvinCard {
  display: none;
  border-radius: 5px; }

#gasMarkField, #fahrenheitField, #celsiusField, #kelvinField {
  border-radius: 5px; }

#gasMarkButton, #fahrenheitButton, #celsiusButton, #kelvinButton {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

#gasMarkButton:hover, #fahrenheitButton:hover, #celsiusButton:hover, #kelvinButton:hover {
  box-shadow: none; }

/*	=====Text Divs===== */
.text-div {
  padding-top: 50px;
  padding-bottom: 25px;
  line-height: 1.9; }

.text-div h2 {
  line-height: 2.1; }

#historyDiv {
  background-color: #e1d8ca; }

/*	=====Footer=====
-Get rid of JavaScript footer when done
*/
#footerDiv {
  background-color: #e1d8ca;
  padding-top: 50px;
  padding-bottom: 25px; }

.footer-button {
  transition: 0.5s; }

.footer-button:hover {
  transform: scale(1.05);
  cursor: pointer; }

#javascriptFooter {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  padding-top: 10px;
  color: #e1d8ca; }

@media (max-width: 1199.98px) {
  .sidenav {
    width: 175px; }
  .page-wrapper {
    margin-left: 175px; } }

@media (max-width: 991.98px) {
  .sidenav {
    width: 150px; }
  .page-wrapper {
    margin-left: 150px; }
  .temp-name {
    font-size: 12.006px; } }

@media (max-width: 767.98px) {
  .jumbotron h1 {
    font-size: 85px; }
  .sidenav {
    width: 0px; }
  .page-wrapper {
    margin-left: 0px; }
  .nav-item {
    margin-bottom: 5px; }
  .nav-hide {
    display: inline; } }

@media (max-width: 575.98px) {
  .jumbotron h1 {
    font-size: 60.075px; }
  .card {
    width: 350px; }
  #footerDiv ul {
    list-style-type: none; } }

.sidenav-closed {
  width: 0px; }

.page-wrapper-closed {
  margin-left: 0px; }
