/* 
	=====Stylesheet Order=====
	
	1. Global Styles 
	2. Navbar
	3. Sidenav
	4. Jumbotron
	5. Form Cards
	6. Text Divs
	7. Footer
	
	=====Colour Scheme=====
	
	#eae7dc (light grey)
	#8e8d8a (dark grey) 
	#e98074 (light red) 
	#e85a4f (red)
	
	=====Fonts=====
	
	Header - Use this to find a title font - https://www.typewolf.com/site-of-the-day/fonts/raleway font
	Body - 'Raleway', sans-serif;
*/
/*	=====Global Styles=====
*/
div {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.7; }

* {
  box-sizing: border-box; }

/* 	=====Navbar===== 
-Change color of the toggler icon
-Make a:hover background color fit the whole space 
*/
.navbar {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 2; }

.navbar a {
  color: black; }

.navbar a:hover {
  color: black;
  background-color: #eae7dc; }

/* 	=====Sidenav=====
-Get rid of sidenav comments
-Change inactive background colour to white
-Add glyphicons for each temperature option
-Make it appear under the navbar with z-index somehow
*/
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 90px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 80px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.sidenav li {
  list-style-type: none;
  padding: 5px;
  margin-right: 10px; }

.sidenav li:hover {
  background-color: #eae7dc; }

.sidenav-active {
  background-color: white;
  width: 270px; }

/*	=====Jumbotron===== 
*/
#backgroundDiv {
  background-color: #eae7dc;
  padding-bottom: 50px; }

.jumbotron h1 {
  color: #00324a;
  font-size: 5.063em; }

/*	=====Form Cards=====
-Form inspo - https://codemyui.com/login-form-visual-cues-invalid-input/ form
*/
.card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #e85a4f; }

.card-body p {
  font-size: 2em;
  font-weight: bold; }

/*	=====Text Divs=====
*/
#informationDiv {
  padding-top: 50px;
  padding-bottom: 25px; }

/*	=====Footer=====
-Get rid of JavaScript footer when done
*/
#footerDiv {
  background-color: #eae7dc;
  padding-top: 50px;
  padding-bottom: 25px; }

#javascriptFooter {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  padding-top: 10px;
  /* Change back to 100px */
  color: #cccccc; }
