/* 	=====Stylesheet Order=====
	
	1. Colour Scheme
	2. Font Styles
	3. Global Styles 
	4. Navbar
	5. Sidenav
	6. Jumbotron
	7. Form Cards
	8. Text Divs
	9. Footer
*/
/*	=====Colour Scheme===== */
/* #fff white */
/* #eae7dc light grey */
/* #000 black */
/*	=====Fonts===== */
.temp-symbol, .jumbotron h1 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase; }

.card h2, #informationDiv h2, #footerDiv h2 {
  font-family: 'Raleway', sans-serif; }

div {
  font-family: 'Raleway', sans-serif; }

/*	=====Global Styles===== */
div {
  font-size: 18px;
  line-height: 1.7; }

* {
  box-sizing: border-box; }

/* 	=====Navbar===== 
-Change color of the toggler icon
-Make a:hover background color fit the whole space 
*/
.navbar {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 2; }

.navbar a {
  color: #000; }

.navbar a:hover {
  color: #000;
  background-color: #eae7dc; }

/* 	=====Sidenav=====
-Get rid of sidenav comments
-Change inactive background colour to white
-Add glyphicons for each temperature option
-Make it appear under the navbar with z-index somehow
*/
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 90px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black - TO BE CHANGED */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 80px;
  /* Place content 60px from the top */
  text-align: center;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.sidenav li {
  list-style-type: none;
  padding: 5px;
  margin-right: 40px; }

.sidenav li:hover {
  background-color: #eae7dc; }

.sidenav-active {
  background-color: #fff;
  width: 270px; }

.temp-symbol {
  font-weight: bold;
  font-size: 50px; }

/*	=====Jumbotron===== 
*/
#backgroundDiv {
  background-color: #eae7dc;
  padding-bottom: 50px; }

.jumbotron h1 {
  color: #000;
  font-size: 5.063em; }

/*	=====Form Cards=====
-Form inspo - https://codemyui.com/login-form-visual-cues-invalid-input/ form
*/
.card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  width: 450px; }

.card-body p {
  font-size: 2em;
  font-weight: bold; }

/*	=====Text Divs===== */
#informationDiv {
  padding-top: 50px;
  padding-bottom: 25px; }

/*	=====Footer=====
-Get rid of JavaScript footer when done
*/
#footerDiv {
  background-color: #eae7dc;
  padding-top: 50px;
  padding-bottom: 25px; }

#javascriptFooter {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  padding-top: 10px;
  color: #eae7dc; }
